.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px 10%;
    background: transparent;
}

.navbar a{
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: black;
}
.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
}
body{
    background-color: black;
    margin: 0;
    color: aqua;
    font-family: Arial, sans-serif;
}
.hero{
    position: relative;
    height: 100vh;
    background: linear-gradient(rgba(20,30,48,0.8), rgba(36,59,85,0.8)), url("images/pexels-shoper-pl-550490863-17485352.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    padding: 60px 0;
}
.hero-content{
    font-size: medium;
    text-align: center;
}
.footer-social{
    text-align: center;
    padding: 10px 0;
    background-color:rgb(81, 26, 184);
}
.footer-bottom{
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid rgba(red, green, blue, alpha);
    padding: 10px 0;
    background-color: #06225f;
    font-size: 0.9rem;
}